<h1>Airline</h1>


<table>
    <thead>
      <tr>
        <th>Passengers</th>
      </tr>
    </thead>
    <tbody>
      <% @airline.adult_passengers.each do |passenger| %>
        <tr id="passenger_<%= passenger.id %>">
          <td><%= passenger.name %></td>
        </tr>
      <% end %>
    </tbody>
</table>